body{
    font-family:cursive;
    font-size: 19px;
    line-height: 28px;
    word-spacing: 1px;
    background-color: slategray;
}

div {
    margin: 50px;
    padding: 2px;
    border: 0;
    font-size: 100%;
    font: initial;
    vertical-align: baseline;
}
ul {
    list-style: initial;
}

h2 {
    padding:10px;
    padding: 15px;
    font: bolder;
    color: red;
}
table , tr , td , th {
    border: 1px solid black;

    margin: 5px;
    padding: 10px;
    font-size: 100%;
    font: -webkit-xxx-large;
    vertical-align: baseline;
    background-color: wheat;
    font-family: cursive;
}

